<template>
  <div id="index" class="container" style="padding-top: 50px;">
    <div>
      <label for="title"><h2>Votre token est le suivant</h2></label>
      <textarea class="form-control" id="token" readonly></textarea>
    </div>

    <b-alert :show="dismissCountDown" v-if="success" variant="success" @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged" style="margin-top: 50px;">
      <p>Inscription au topic {{ topiclist }} réussie</p>
      <hr>
      <p class="mb-0" style="font-size: 10px;">
        Ce message s'enlevera dans {{ dismissCountDown }}
      </p>
    </b-alert>

    <b-alert :show="dismissCountDown" v-if="error" variant="danger" @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged" style="margin-top: 50px;">
      <p>Désinscription au topic {{ topiclist }} réussie</p>
      <hr>
      <p class="mb-0" style="font-size: 10px;">
        Ce message s'enlevera dans {{ dismissCountDown }}
      </p>
    </b-alert>

    <div v-if="showMessage != ''" style="padding-top: 50px;">  
      <label for="messagelist"><h2>Nouveau(x) message(s) reçu(s)</h2></label>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Titre</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(msg, index) in showMessage" :key="index">
            <td>{{ msg.title }}</td>
            <td>{{ msg.message }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="padding-top: 50px;">
      <label for="topiclist"><h2>S'inscrire à un topic</h2></label>
      <div class="form-group">
        <select id="topiclist" class="custom-select" v-model="topiclist"></select>
      </div>
      <button @click="subscribe()" class="btn btn-primary" style="margin-right: 10px;">S'abonner</button>
      <button @click="unSubscribe()" class="btn btn-danger">Se désabonner</button>
    </div>

    <div style="padding-top: 50px;">
      <label for="messagelist"><h2>Précédent messages</h2></label>
      <div class="form-group">
        <select id="messagelist" class="custom-select" v-model="messageList" @change="getMessages()">
          <option value selected>Choisissez</option>
        </select>
      </div>
    </div>

    <table class="table table-striped" v-if="lastMessage != ''">
      <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Message</th>
        </tr>
      </thead>
      <tbody v-if="lastMessage != null">
        <tr v-for="(msg, index) in lastMessage" :key="index">
          <td>{{ msg.title }}</td>
          <td>{{ msg.message }}</td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr>
          <td colspan="2">Aucun contenu</td>
        </tr>
      </tbody>
    </table>

  </div>
</template>

<script>
  import { messaging, database } from '../main'

  export default {
    name: 'index',
    data () {
      return {
        tokenUser : "",
        topiclist: "",
        messageList: "",
        showMessage: [],
        lastMessage: [],
        success: false,
        error: false,
        dismissCountDown: 0,
        dismissSecs: 5,
        headers : {
          'Authorization': 'key=AAAAIiGtP2U:APA91bE6fFYUxJBKO7mvpj2lJaEbtWP12SrCZAmruhm8UimuDg40kENlIdjY0ytrOXfzWypUa6wDm6mn04c2NC2AOt71q-mvySKljERA5XJtvjMXgc_C1xBCDgejjx2BCxomNWt-UX2-',
          'Content-Type': 'application/json'
        }
      }
    },
    created () {
      navigator.serviceWorker.register('firebase-messaging-sw.js').then((registration) => {
        messaging.useServiceWorker(registration);

        messaging.requestPermission()
        .then(() => {
          return messaging.getToken();
        })
        .then((token) => {
          // print the token on the HTML page
          document.getElementById("token").value = token;
          this.tokenUser = token;
        })
      });

      messaging.onMessage((payload) => {
        var title = payload.notification.title
        var message = payload.notification.body
        this.showMessage.push({
          title,
          message
        })
      });

      database.ref('/topics/').once('value').then((data) => {
        if (data.val() != null) {
          var topics = data.val();
          var keys = Object.keys(topics);
          for (var i = 0; i < keys.length; i++) {
            var k = keys[i];
            var topic = topics[k].topic; 

            // select for the subscription to a topic
            const select = document.getElementById('topiclist');
            const option = document.createElement('option');
            option.setAttribute('value', topic);
            var t = document.createTextNode(topic);
            option.appendChild(t);
            select.appendChild(option);

            // select for the messages
            const message = document.getElementById('messagelist');
            const messageOption = document.createElement('option');
            messageOption.setAttribute('value', topic);
            var x = document.createTextNode(topic);
            messageOption.appendChild(x);
            message.appendChild(messageOption);

            if (i == 0) { 
              this.topiclist = topic;
            }
          }
        }
      });
    },
    methods: {
      subscribe() {
        fetch('https://iid.googleapis.com/iid/v1/'+this.tokenUser+'/rel/topics/'+this.topiclist, {
            method: 'POST',
            headers: this.headers
        }).then((response) => {
          if (response.status < 200 || response.status >= 400) {
            throw 'Error subscribing to topic: '+response.status + ' - ' + response.body;
          }
          this.dismissCountDown = this.dismissSecs
          this.success = true
          this.error = false
        }).catch(error => {
          console.error(error);
        })
      },
      unSubscribe() {
        fetch('https://iid.googleapis.com/iid/v1:batchRemove', {
          method: 'POST',
          headers: this.headers,
          body: JSON.stringify({
            "to": "/topics/"+this.topiclist,
            "registration_tokens": [
              this.tokenUser
            ]
          })
        }).then((response) => {
          if (response.status < 200 || response.status >= 400) {
            throw 'Error subscribing to topic: ' + response.status + ' - ' + response.body;
          }
          this.dismissCountDown = this.dismissSecs
          this.error = true
          this.success = false
        }).catch(error => {
          console.error(error);
        })
      },
      getMessages () {
        this.lastMessage = []
        database.ref('/topics/').once('value').then((data) => {
          if (data.val() != null) {
            var topics = data.val();
            var keys = Object.keys(topics);
            for (var i = 0; i < keys.length; i++) {
              var k = keys[i];
              var topic = topics[k].topic;
              if (topic == this.messageList) {
                database.ref("/topics/" + k + "/messages").once('value').then((values) => {
                  if (values.val() != null) {
                    var messages = values.val();
                    var messageKeys = Object.keys(messages);
                    for (var i = 0; i < messageKeys.length; i++) {
                      var key = messageKeys[i];
                      var title = messages[key].title;
                      var message = messages[key].message;
                      this.lastMessage.push({
                        title,
                        message
                      })
                    }
                  }
                  else {
                    this.lastMessage = null
                  }
                });
              }
            }
          }
        });
      },
      countDownChanged(dismissCountDown) {
        this.dismissCountDown = dismissCountDown
        if (dismissCountDown == 0) {
          this.success = false
          this.error = false
        }
      }
    }
  }
</script>
