<template>
  <div id="index" class="container" style="padding-top: 50px;">
    <h1>Envoyer une notification</h1>
    
    <b-alert :show="dismissCountDown" v-if="success" variant="success" @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged">
      <p>Message envoyé au topic, {{ topicSelected }}</p>
      <hr>
      <p class="mb-0" style="font-size: 10px;">
        Ce message s'enlevera dans {{ dismissCountDown }}
      </p>
    </b-alert>

    <b-alert :show="dismissCountDown" v-if="error" variant="danger" @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged">
      <p>Problème d'envoi au topic, {{ topicSelected }}</p>
      <hr>
      <p class="mb-0" style="font-size: 10px;">
        Ce message s'enlevera dans {{ dismissCountDown }}
      </p>
    </b-alert>

    <div class="form" style="padding-top: 25px;">
      <div class="form-group">
        <label for="title">Titre</label>
        <input class="form-control" type="text" name="title" id="title" placeholder="Titre du message" v-model="title">
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <input type="text" class="form-control" name="message" id="message" placeholder="Contenu du message" v-model="message">
      </div>
      <div class="form-group">
        <label for="topiclist">Envoyer le message au topic :</label>
        <select id="topiclist" name="topiclist" class="custom-select" v-model="topicSelected"></select>
      </div>
      <button class="btn btn-primary" @click="sendMessage()">Envoyer le message</button>
    </div>

    <div class="form" style="padding-top: 50px; padding-bottom: 50px;">
      <div class="form-group">
        <label for="message">Nouveau Topic</label>
        <input type="text" class="form-control" id="newTopic" placeholder="Créer le topic" v-model="newTopic">
      </div>
      <button class="btn btn-primary" @click="addTopic()">Créer le Topic</button>
    </div>

  </div>
</template>

<script>
  import axios from 'axios'
  import { database } from '../main'

  export default {
    name: 'index',
    data () {
      return {
        title: "",
        message: "",
        newTopic: "",
        topicSelected: "",
        success: false,
        error: false,
        dismissCountDown: 0,
        dismissSecs: 5
      }
    },
    created () {
      database.ref('/topics/').once('value').then((data) => {
        if (data.val() != null) {
          var topics = data.val();
          var keys = Object.keys(topics);
          for (var i = 0; i < keys.length; i++) {
            var k = keys[i];
            var topic = topics[k].topic; 
            const select = document.getElementById('topiclist');
            const option = document.createElement('option');
            option.setAttribute('value', topic);
            var t = document.createTextNode(topic);
            option.appendChild(t);
            select.appendChild(option);
            if (i == 0) { 
              this.topicSelected = topic
            }
          }
        }
      });
    },
    methods: {
      addTopic () {
        database.ref("topics/").push({
          topic : this.newTopic
        });
        
        this.newTopic = "";
        this.reloadData();
      },
      reloadData() {
        database.ref('/topics/').once('value').then((data) => {
          if (data.val() != null) {
            var topics = data.val();
            var keys = Object.keys(topics);
            for (var i = 0; i < keys.length; i++) {
              var a = i + 1;
              if (a == keys.length) {
                var k = keys[i];
                var topic = topics[k].topic; 
                const select = document.getElementById('topiclist');
                const option = document.createElement('option');
                option.setAttribute('value', topic);
                var t = document.createTextNode(topic);
                option.appendChild(t);
                select.appendChild(option);
                if (a == 1) { 
                  this.topicSelected = topic
                }
              }
            }
          }
        });
      },
      sendMessage () {
        this.dismissCountDown = this.dismissSecs
        axios ({
          method: 'post',
          url: 'https://fcm.googleapis.com/fcm/send',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': 'key=AAAAIiGtP2U:APA91bE6fFYUxJBKO7mvpj2lJaEbtWP12SrCZAmruhm8UimuDg40kENlIdjY0ytrOXfzWypUa6wDm6mn04c2NC2AOt71q-mvySKljERA5XJtvjMXgc_C1xBCDgejjx2BCxomNWt-UX2-'
          },
          data: {
            "notification": {
                "title": this.title,
                "body": this.message,
                "click_action": "http://localhost:8080/",
                "icon": "http://localhost:8080/favicon.ico"
            },
            "to": "/topics/" + this.topicSelected
          }
        })
        .then((response) => {
          if(this.message != "" && this.title != "") {
            // Store value in the input
            database.ref('/topics/').once('value').then((data) => {
              if (data.val() != null) {
                var topics = data.val();
                var keys = Object.keys(topics);
                for (var i = 0; i < keys.length; i++) {
                  var k = keys[i];
                  var topic = topics[k].topic;
                  if (topic == this.topicSelected) {
                    database.ref("topics/" + k + "/messages").push({
                      title: this.title,
                      message : this.message
                    });
                    this.title = "";
                    this.message = "";
                    this.success = true;
                  }
                }
              }
            });
          }
          else {
            this.error = true;
          }
        })
        .catch((response) => {
          //handle error
          this.error = true;
        });
      },
      countDownChanged(dismissCountDown) {
        this.dismissCountDown = dismissCountDown
        if (dismissCountDown == 0) {
          this.success = false
          this.error = false;
        }
      }
    }
  }
</script>
